*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
  --primaryColor:#9862fe;
  --backgroundColor:#1c1e29;
  --assentColor:#fff;
}
.invisible{
  display: none;
}

/*----------------------------------------------------------------------------------------

Header Part Here ..

----------------------------------------------------------------------------------------*/
.header{
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
  background-color: var(--primaryColor);
  align-items: center;
}
.headertitle{
  text-decoration: none;
}
.header h2{
  color: var(--backgroundColor);
  font-size: 2rem;
}
.header button{
  padding: .5rem 1rem;
  border-radius: .5rem;
  text-transform: uppercase;
  background-color: var(--backgroundColor);
  color: var(--assentColor);
}


/*----------------------------------------------------------------------------------------

Create Blog Part Here ..

----------------------------------------------------------------------------------------*/
.createform{
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor);
  height: calc(100vh - 4rem);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100%;
  text-align: center;
  /* gap: 1rem; */
}
.createform form{
  border-radius: .5rem;
  box-shadow: 3px 3px 5px,-3px -3px 5px;
  padding:3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 2rem;
  justify-content: center;
}
.createform form input{
  padding: 0rem .5rem;
  height: 2rem;
  width: 90%;
}
.createform form textarea{
  width: 90%;
  padding: .3rem .5rem;
}
.createform form button{
  width: 90%;
  font-weight: bold;
  padding: .3rem;
  background-color: var(--primaryColor);
  color: var(--assentColor);
  border-color: var(--assentColor);
  border-radius: .3rem;
}


/*----------------------------------------------------------------------------------------

View Blog Part Here ..

----------------------------------------------------------------------------------------*/
.viewBlog{
  padding: .5rem 1rem;
  min-height: calc(100vh - 4rem);
  max-height: 100%;
  background-color: var(--backgroundColor);
  color: var(--assentColor);
}
.viewBlog .userBlog{
  border: 1px solid;
  padding: 1rem ;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  transition: all ease .5s;
  margin: 2rem 1rem;
}
.viewBlog .userBlog:hover{
  scale: 1.01;
  box-shadow: 1px 1px 5px ;
}
.btngrp{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.viewBlog button:hover{
  border-color: white;
}
.viewBlog button{
  margin: .5rem;
  transition: all ease .3s;
  padding: 0rem 1rem;
  text-decoration: none;
  height: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: .3rem;
  background-color: var(--primaryColor);
  color: var(--assentColor);
}
.bloguser{
  color: darkgray;
  text-transform: capitalize;
}
.blogtitle{
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
}
.blogbody{
text-transform: capitalize;
overflow: hidden;
text-overflow: ellipsis;
width: 100%;
white-space: nowrap;
}

/*----------------------------------------------------------------------------------------

Per Blog Part Here ..

----------------------------------------------------------------------------------------*/

.perblog{
  min-height: calc(100vh - 4rem);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--backgroundColor);
  color: var(--assentColor);
}
.perblog .perbloguser{
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: underline dotted;
  color: var(--primaryColor);
}
.blogcontent{
  border: 1px solid;
  border-radius: .5rem;
  padding: 1rem;
}
.perblog .perblogtitle{
  color: var(--primaryColor);
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-style: italic;
}
.perblog .perblogbody{
  text-transform: capitalize;
  text-align: left;
  line-height: 2rem;
  font-size: 1.3rem;
  word-spacing: .5rem;
}
/*----------------------------------------------------------------------------------------

Edit Blog Part Here ..

----------------------------------------------------------------------------------------*/

.editheading{
  color: var(--primaryColor);
}


@media (max-width:310px) {
 .editheading{
  font-size: 1.3rem;
 } 
 .header{
  padding: .5rem;
 }
 .headertitle h2{
  font-size: 1.3rem;
 }
 .header button{
  padding: .3rem;
 }
 .perblog .perbloguser{
  font-size: 1.3rem;
}
.perblogtitle{
  font-size: 1rem;
}
}

@media (max-width:250px) {
  
  .perblog .perblogbody{
    font-size: 1rem;
  }
  .viewBlog{
    padding: .1rem;
  }
  .viewBlog .userBlog{
    padding: .5rem;
  }
  .userBlog{
    padding: .5rem;
  }
  .blogtitle{
    font-size: 1rem;
  }
  .viewBlog button{
    width: 6rem;
  }
}

@media (max-width:170px) {
  .viewBlog{
    display: none;
  }
  .invisible{
    display: block;
    background-color: var(--backgroundColor);
    color: var(--assentColor);
    height: calc(100vh - 4rem);
  }
  .createform{
    display: none;
  }
  .header .headertitle{
    font-size: .5rem;
  }
  .header button{
    display: none;
  }
  .perblog{
    display: none;
  }
}

.footer{
  text-align: center;
}